[submodule "lib/kProcessor"]
	path = lib/kProcessor
	url = https://github.com/dib-lab/kProcessor.git
	branch = beta_v1
[submodule "lib/inih"]
	path = lib/inih
	url = https://github.com/jtilly/inih.git
[submodule "lib/kmerDecoder"]
	path = lib/kmerDecoder
	url = https://github.com/dib-lab/kmerDecoder
